#slideshow { 
    margin: 2% auto; 
    position: relative; 
    padding: 2%; 
    width: 96%;
    height: 50%;
    background: white;
}

#slideshow > div { 
    position: absolute; 
    margin: auto;
    width: 80%; 
    height: 80%; 
}

img {
    margin: auto;
    display: block;
}
