#slideshow { 
    margin: 20px auto; 
    position: relative; 
    padding: 2%; 
/*    box-shadow: 0 0 20px rgba(0,0,0,0.4); */
}

#slideshow > div { 
    position: absolute; 
    /*top: 2%; */
    /*left: 2%; */
    /*right: 2%; */
    /*bottom: 2%; */
    margin: auto;
    width: 80%; 
    height: 80%; 
}

img {
    margin: auto;
    /*padding: 2%;*/
}
