h1{
    padding: 2rem 0;
    color: black;
}

.story{
    background: white;
    padding: 1rem 0;
}

.story-text-container{
    width: 60%;
    margin: 4rem auto;
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.story-text-container h3{
    font-family: ChaletComprime-CologneSixty;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    position: relative;
    color: black;
    line-height: 1;
    text-align: center;
}

#paragraph2{
    margin-top:0; 
    padding-top: 0;
}

#section2{
    margin-top: 0;
    padding-top: 0;
}

#quote{
    background-image: url('photos/Cooking.jpg');
}

.feature-photo-container{
    margin-top: 3rem;
}

.feature-photo{
    width: 90%;
    display: block;
    margin: auto;
    float: none;
}

#masthead{
	background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.solidBG{
    background-color: #262626;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.button{
background-color: #313131;
font-weight: 300;
color: white;
}

.button:visited{
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.button:hover{
    color:#white;
    background-color: #BBBFBB;
    font-weight: 300;
}