body{
    background-color: white;
}

h1{
    color: black;
}

.graphic-container{
    background-color: white;
    padding: 0;
}

#graphic-container{
    background color: white;
    margin-top: 1em;
}

.graphic-container h3{
    color: black;
    background color: white;
    font-size: .8em;
}

#stacked-container{
    width: 75%;
    margin: 0 auto;
}

.highcharts-button{
    display: none;
}

#line-container{
    width: 75%;
    margin: auto;
}

#line{
    margin: 0;
}

.story{
    background: white;
}

.story-text-container{
    color: black;
    background-color: white;
    padding-bottom: 1em;
}

.story-text-container h3{
    color: black;
}

#paragraph2{
    margin-top:0; 
    padding-top: 0;
}

#section2{
    margin-top: 0;
    padding-top: 0;
}

#quote{
    background-image: url('photos/Cooking.jpg');
}

.feature-photo{
    width: 90%;
    display: block;
    margin: auto;
    float: none;
}

.button{
background-color: #313131;
font-weight: 300;
color: white;
}

.button:link{
    color: white;
}

.button:visited{
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.button:hover{
    color:white;
    background-color: #BBBFBB;
    font-weight: 300;
}

.advance-button{
background-color: #313131;
font-weight: 300;
color: white;
}

@media handheld, screen and (max-width: 750px) {
    #line-container{
    width: 98%;
    height: 12em;
  }
    #stacked-container{
    width: 98%;
  }
}

@media handheld, screen and (max-width: 500px) {
      #line-container{
    width: 98%;
    height: 12em;
  }
    #stacked-container{
    width: 98%;
  }
  }